

body{

	background-color:#9ebd9e;
	position:relative;
}

.MainBlock{
	background-color:#fff;
	border-left: solid 2px;
	border-right: solid 2px;
	border-radius: 15px 15px 15px 15px;
	box-shadow:5px 5px 5px grey;
}

.panelHeadFont{
	font-size:32px;
	padding:0px;
	
}
/*要讓panel的內容字體改變*/
.panelContent{
	font-size:24px;
}

/*控制panel的底部可以有陰影和距離 !important是要蓋掉bootstrap的優先權Q_Q*/
.panelBottom{
	margin-bottom:30px !important;
	box-shadow:5px 5px 5px grey !important;
}

/*幫我的userInfo 標題增加標籤的樣式*/
.Label_Skill{
	background-color:#60daec;
	border:solid 1px;
	border-radius:10px;
	text-align:center;
	padding:1px 3px;
	margin:5px;
	margin-top:15px;
	font-size:18px;
}